<p>Sehr gehrte Kundin, sehr geehrter Kunde,</p>

<p>um Ihr Passwort zurückzusetzen, klicken Sie auf den nachfolgenden Link:</p>

<h4><%=link_to "Passwort zurücksetzen",new_reset_password_url(:email=>@email) %></h4><br>

<p>Mit freundlichen Grüßen</p>

<p>Das Bw Fahrgemeinschaft-Team</p><br><br><br>
--
<p>Bw Fahrgemeinschaft<br>
Inh. Lenz Kriete<br>
bw-fahrgemeinschaft-lenz@web.de</p>
