<p>Sehr gehrte Kundin, sehr geehrter Kunde,<br><br><br>
Ihr neues Passwort lautet:</p>
<p><%= @pass %></p><br>
<p>In Ihrer App können Sie das Passwort jederzeit wieder ändern.</p><br>
<p>Mit freundlichen Grüßen</p>
<p>Das Bw Fahrgemeinschaft-Team</p><br><br><br>
--
<p>Bw Fahrgemeinschaft<br>
Inh. Lenz Kriete <br>
bw-fahrgemeinschaft-lenz@web.de</p>