<p>Herzlich willkommen bei der Bw Fahrgemeinschaft!</p>

<p>Sie haben Ihren Account bei uns erfolgreich erstellt.</p><br>

<p>Mit freundlichen Grüßen</p>

<p>Das Bw Fahrgemeinschaft-Team</p><br><br><br>
--
<p>Bw Fahrgemeinschaft<br>
Inh. Lenz Kriete<br>
bw-fahrgemeinschaft-lenz@web.de</p>
